<div class="container-fluid" *ngIf="libros">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Título</th>
            <th scope="col">Autor</th>
            <th scope="col">Descripción</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let libro of libros">
            <th scope="row">{{libro.id}}</th>
            <td>{{libro.titulo}}</td>
            <td>{{libro.autor}}</td>
            <td>{{libro.descripcion}}</td>
            <td><button class="btn btn-danger" (click)="eliminarLibro(libro.id)">Eliminar</button></td>
          </tr>        
        </tbody>
      </table>
</div>
